<!DOCTYPE html>
<html>
<head>

</head><body>
        <body background="VYSHNAVI.jpg">
        
        <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Vyshnavi</a>
                  </div>
              
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      <li><a href="/">Home </a></li>
                      <li><a href="/Calculation">Calculation</a></li>
                      <li><a href="/contact">contact</a></li>
                      <li><a href="/guestbook">Guest Book</a></li>
                     
                    </ul>
                    
                    
                  </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
              </nav>

              <header class="section-header"><h1>Contact</h1></header>

        <form>
                <div class="form-group">
                  <label >Email address :</label>
                  <input type="email" class="form-control"  placeholder="Email">
                  <button type="submit" class="btn btn-default">Submit :</button>
                </div>
                <br>
                <div class="form-group">
                  <label >Questions :</label>
                  <input type="text" class="form-control" placeholder="Questions" >
                </div>
              
               
                <button type="submit" class="btn btn-default">Submit :</button>
              </form>


              <footer id="gh">
                    <p><em>s531383@nwmissouri.edu</em></p><a href="https://www.facebook.com/yalamareddy.vyshnavi" class="fa fa-facebook"></a>
                    <a href="https://bitbucket.org/vyshnavireddyy/" class="fa fa-bitbucket"></a>
                    <a href="#" class="fa fa-google"></a>
                    <a href="https://github.com/vyshnaviyreddy" class="fa fa-github"></a>
                    </footer>
                    
                    
                    <!-- Latest compiled and minified CSS -->
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
                    
                    <!-- Optional theme -->
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
                    
                    <!-- Latest compiled and minified JavaScript -->
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
              </body>
              </html>
